<div class="container login-register">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-6">
      <div class="card p-4">
        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="user-avatar img-thumbnail mb-3"
          alt="User Avatar">
        <h1 class="title mb-3">Sign Up</h1>
        <form (ngSubmit)="onRegister(addForm)" #addForm="ngForm">
          <div class="form-group mb-3">
            <input type="text" ngModel class="form-control input-underline input-lg" placeholder="Name" name="firstName"
              required>
          </div>
          <div class="form-group mb-3">
            <input type="text" ngModel class="form-control input-underline input-lg" placeholder="Last name"
              name="lastName" required>
          </div>
          <div class="form-group mb-3">
            <input type="text" ngModel class="form-control input-underline input-lg" placeholder="Email" name="email"
              required>
          </div>
          <div class="form-group mb-3">
            <input type="password" ngModel class="form-control input-underline input-lg" placeholder="Password"
              name="password" required>
          </div>
          <button type="submit" class="btn btn-info btn-lg w-100">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>