<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <a class="navbar-brand" routerLink="/">Iw Email Sender</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav me-auto">
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/courses']">All Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/accounts']">All Accounts</a>
      </li>

      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" href="#" (click)="logout(); $event.preventDefault()">Logout</a>
      </li> -->
    </ul>
  </div>
</nav>

<!-- Место каде Angular ќе ја прикаже компонентата -->
<router-outlet></router-outlet>
