
<div class="container-fluid login-wrapper">
  <div class="row min-vh-100">

    <!-- LEFT SECTION -->
    <div class="col-md-6 d-flex flex-column justify-content-center left-section">
      <div class="left-content">

        <h1 class="app-name mb-3">IW Email Sender</h1>

        <p class="app-description">
          A powerful and easy-to-use system for sending emails, managing scheduled
          email jobs, and automating communication.
        </p>

        <p class="register-note mt-4">
          If you don't have an account yet, please register first.
        </p>
        <button type="button" class="btn btn-secondary btn-lg w-50" routerLink="/register">Register</button>
      </div>
    </div>


    <!-- RIGHT SECTION (LOGIN FORM) -->
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <div class="card p-4 login-card">

        <img
          src="https://media.glassdoor.com/sqll/2466929/interworks-republic-of-macedonia-squareLogo-1617969232693.png"
          class="user-avatar img-thumbnail mb-3" alt="Logo">

        <h2 class="title mb-4">Login</h2>

        <form (ngSubmit)="onLogin()" #loginForm="ngForm">
          <div class="form-group mb-3">
            <input type="text" class="form-control input-lg input-underline" placeholder="Email" name="email"
              [(ngModel)]="email" required>
          </div>

          <div class="form-group mb-3">
            <input type="password" class="form-control input-lg input-underline" placeholder="Password" name="password"
              [(ngModel)]="password" required>
          </div>

          <button type="submit" class="btn btn-info btn-lg w-100 mb-2">Log in</button>

        </form>

      </div>
    </div>

  </div>
</div>